h1 {
	text-align: center;
	font-size: 70px;
	color: blue;
	font-family: comic sans ms;
	font-style: italisized;
	padding: 2px 6px 4px 6px;
	border: blue 10px solid;
	background-color: white;
	position: absolute;
	top: 50px;
	left: 300px;
}

body {
	background-color: black;
}

img {
	width: 800px;
	position: absolute;
	left: 280px;
	top: 380px;
}




@media only screen and (max-width: 600px) {
	h1 {
	text-align: center;
	font-size: 30px;
	color: blue;
	font-family: comic sans ms;
	font-style: italisized;
	padding: 1px 3px 2px 3px;
	border: blue 5px solid;
	background-color: white;
	position: absolute;
	top: 20px;
	left: 75px;

	}

	
	body {
	background-color: black;
	
	}
	
	img {
		width: 450px;
		position: absolute;
		left: 22px;
		top: 180px;
	}

	
}
	